[package]
name = "camerapose"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
zmq = "0.9"
rand = "0.8.5"
structopt = "0.3"
libm = "0.2.7"