[package]
name = "camerapose"
description = "Maivin camera pose measurement and publishing service"
repository = "https://bitbucket.org/au-zone/camerapose"
license = "CLOSED"
version = "0.3.1"
edition = "2021"

[profile.release]
opt-level = 3
lto = true

[dependencies]
zmq = "0.10.0"
structopt = "0.3"
bno08x = { path = "../bno08x-rs" }
chrono="0.4.26"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0.105"