[package]
name = "camerapose"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
zmq = "0.10.0"
structopt = "0.3"
bno08x = {version = "^0.0.1", path = "../bno08x-rs"}
chrono="0.4.26"