[package]
name = "camerapose"
description = "Maivin camera pose measurement and publishing service using Zenoh"
repository = "https://bitbucket.org/au-zone/camerapose"
license = "CLOSED"
version = "1.0.0"
edition = "2021"

[profile.release]
opt-level = 3
lto = true

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-std = {version = "1.12.0", features = ["attributes"] }
clap = { version = "4.4.6", features = ["derive"] }
zenoh = "0.10.0-rc"
zenoh-ros-type = { git = "https://github.com/evshary/zenoh-ros-type", branch = "main" }
cdr = "0.2.4"
bno08x = { git = "ssh://git@bitbucket.org/au-zone/bno08x-rs", rev = "b614b976" }
