[package]
name = "camerapose"
description = "Maivin camera pose measurement and publishing service"
version = "0.1.0"
edition = "2021"

[profile.release]
opt-level = 3
lto = true

[dependencies]
zmq = "0.10.0"
structopt = "0.3"
bno08x = { git = "ssh://git@bitbucket.org/au-zone/bno08x-rs" }
chrono="0.4.26"
